#header {
    background-color: cornsilk;
    color: brown;
}

#body {
    background-color: aliceblue;
    color: brown;
}

#allproducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: aliceblue;
    color: brown;
}

.product-card {
    flex: 0 1 23%;
    gap: 10%;
    text-align: left;
    background-color: rgb(197, 241, 243);
    border-radius: 10px;
    margin: 10px
}

.product-card button:hover {
    opacity: 70;
}

img {
    width: 20%;
    height: 20%;
    border-radius: 8px;
    border: 1px solid #0a0a0a;
    margin-bottom: 30px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 5, 7, 0.5);
}

button {
    margin-top: auto;
    border-color: brown;

}