#header {
    background-color: cornsilk;
    color: brown;
}

#body {
    background-color: aliceblue;
    color: brown;
}

.product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: aliceblue;
    color: brown;
    padding: 10px;

}

.product-card {
    flex: 0 1 23%;
    gap: 20%;
    padding-left: 10px;
    padding-right: 5px;
    text-align: center;
    background-color: rgb(197, 241, 243);
    border-radius: 10px;
}

.product-card button:hover {
    opacity: 70;
}

img {
    width: 50%;
    height: 50%;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-top: 20px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 5, 7, 0.5);
}